@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico.ttf);
}

.blog-btn-v{
    clear:both;
    padding-top:30px;
    text-align:center;
}

.blog-btn-v a:hover {
    background: none;
    color: #000;
}

.blog-btn-v button {
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    background: #e75b1e;
    border: 3px solid #e75b1e;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  font-family: Pacifico;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

.display-5 {
  font-family: Roboto, sans-serif;
  font-size: 30.4px;
}

.display-7 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}

/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 10px 15px;
  border-radius: 0px;
}

.btn-lg {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #2b6477 !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #2b6477 !important;
  border-color: #2b6477 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #17353f !important;
  border-color: #17353f !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #17353f !important;
  border-color: #17353f !important;
}


.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #10252c !important;
  color: #10252c !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #2b6477 !important;
  border-color: #2b6477 !important;
}

.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}

.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}

.blog-btn-v a:hover {
    background: none;
    color: #000;
}


.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}

.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}

.cid-r7oenkEURR .mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form1 .input-group-btn a.btn {
  border-radius: 0 !important;
}
.form1 .input-group-btn button[type="submit"] {
  border-radius: 50px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
}

html,
body {
  height: auto;
  min-height: 100vh;
}

.mbr-section-btn .btn {
  font-weight: 700;
}

.mbr-section-btn .btn-lg {
  padding: 1rem 2.2rem !important;
}
.mbr-text {
  letter-spacing: 1px;
}
.mbr-lighter {
  font-weight: 400 !important;
}
body {
  color: #333333;
}

.cid-r7o8gt3azK {
  margin-top: 30px;
  padding-top: 105px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-r7o8gt3azK .row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-r7o8gt3azK .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r7o8gt3azK .image-element {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r7o8gt3azK .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 991px) {
  .cid-r7o8gt3azK .image-element {
    padding-right: 0;
  }
}
.cid-r7o8gt3azK .text-element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-r7o8gt3azK .mbr-section-subtitle,
.cid-r7o8gt3azK .mbr-text {
  color: #878787;
  letter-spacing: normal;
}
.cid-r7o8gt3azK .mbr-text {
  line-height: 27px;
  padding: 2.5rem;
  margin: 0;
  letter-spacing: normal;
}
@media (max-width: 991px) {
  .cid-r7o8gt3azK .row {
    flex-direction: column-reverse;
    align-items: center;
    -webkit-flex-direction: column-reverse;
    -webkit-align-items: center;
  }
  .cid-r7o8gt3azK .text-element {
    padding-top: 0;
  }
}
.cid-r7o8gt3azK .mbr-text,
.cid-r7o8gt3azK .mbr-section-btn {
  color: #000000;
  letter-spacing: normal;
}
.cid-r7o8w9BZe1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-r7o8w9BZe1 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r7o8w9BZe1 .image-element {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r7o8w9BZe1 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 991px) {
  .cid-r7o8w9BZe1 .image-element {
    padding-right: 0;
  }
}
.cid-r7o8w9BZe1 .text-element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-r7o8w9BZe1 .mbr-section-subtitle,
.cid-r7o8w9BZe1 .mbr-text {
  color: #878787;
}
.cid-r7o8w9BZe1 .mbr-text {
  line-height: 27px;
  padding: 2.5rem;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-r7o8w9BZe1 .text-element {
    padding-bottom: 0;
  }
}
.cid-r7o8w9BZe1 .mbr-section-title {
  text-align: center;
  letter-spacing: normal;
}
.cid-r7o8w9BZe1 .mbr-text,
.cid-r7o8w9BZe1 .mbr-section-btn {
  text-align: center;
  color: #000000;
  letter-spacing: normal;
}
.cid-r7o8w9BZe1 .mbr-section-subtitle,
.cid-r7o8w9BZe1 .underline {
  text-align: center;
}
.cid-r7octyzPse {
  padding-top: 30px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-r7octyzPse .row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-r7octyzPse .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-r7octyzPse .image-element {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r7octyzPse .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (max-width: 991px) {
  .cid-r7octyzPse .image-element {
    padding-right: 0;
  }
}
.cid-r7octyzPse .text-element {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-r7octyzPse .mbr-section-subtitle,
.cid-r7octyzPse .mbr-text {
  color: #878787;
  letter-spacing: normal;
}
.cid-r7octyzPse .mbr-text {
  line-height: 27px;
  padding: 2.5rem;
  margin: 0;
  letter-spacing: normal;
}
@media (max-width: 991px) {
  .cid-r7octyzPse .row {
    flex-direction: column-reverse;
    align-items: center;
    -webkit-flex-direction: column-reverse;
    -webkit-align-items: center;
  }
  .cid-r7octyzPse .text-element {
    padding-top: 0;
  }
}
.cid-r7octyzPse .mbr-text,
.cid-r7octyzPse .mbr-section-btn {
  color: #000000;
  letter-spacing: normal;
}
.cid-r7oenkEURR {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-r7oenkEURR h2,
.cid-r7oenkEURR h3,
.cid-r7oenkEURR p,
.cid-r7oenkEURR .mbr-text {
  letter-spacing: normal;
}
.cid-r7oenkEURR .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-r7oenkEURR .testimonials-container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  margin-right: auto;
}
.cid-r7oenkEURR .testimonials-container .testimonials-item:not(:first-child) {
  margin-top: 3rem;
}
.cid-r7oenkEURR .testimonials-container .testimonials-item:nth-child(2n) .user.row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .cid-r7oenkEURR .testimonials-container .testimonials-item:nth-child(2n) .user.row .testimonials-caption {
    text-align: right !important;
    padding: 2rem 0 2rem 2rem;
  }
}
.cid-r7oenkEURR .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-r7oenkEURR .testimonials-container .testimonials-item .user .user_image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2rem auto;
  border-radius: 50%;
}
.cid-r7oenkEURR .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-r7oenkEURR .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
  padding: 2rem 2rem 2rem 0;
}
@media (max-width: 260px) {
  .cid-r7oenkEURR .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-r7oenkEURR .testimonials-caption {
    padding: 0 2rem 2rem 2rem !important;
  }
}

.cid-r7oenkEURR .user_text I {
  color: #000000;
}
.cid-r7oenkEURR .user_name {
  color: #000000;
  font-family: Lobster;
}
.cid-r7oenkEURR .user_text {
  color: #000000;
}

.cid-r7owzdWvdf {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #fcfcfc;
}

.cid-r7owzdWvdf .form1 .input-wrap {
  margin-bottom: 1rem;
}
.cid-r7owzdWvdf .form1 .form-control {
  border: none;
  border-radius: 0;
  padding: .5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-r7owzdWvdf .form1 .input-group-btn {
  width: 100%;
}
.cid-r7owzdWvdf .form1 .input-group-btn .btn {
  min-width: 150px;
  margin-left: 202px !important;
  margin-right: 0 !important;
}
.cid-r7owzdWvdf .form1 .form-label-outside {
  color: #444444;
}
.cid-r7owzdWvdf .google-map {
  width: 100%;
  height: 25rem;
  height: 100%;
}
.cid-r7owzdWvdf .google-map iframe {
  width: inherit;
  height: 100%;
}

@media (max-width: 991px), (max-width: 767px) {
  .cid-r7owzdWvdf .form-wrapper {
    padding-bottom: 2rem;
  }
}

.cid-r7owzdWvdf h1,
.cid-r7owzdWvdf h2,
.cid-r7owzdWvdf p {
  letter-spacing: normal;
}

.cid-r7owzdWvdf .form-text {
  color: #000000;
}
