<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <servlet-class>controller.LogoutAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRecipeServlet</servlet-name>
        <servlet-class>controller.ManageRecipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>controller.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRecipeServletx</servlet-name>
        <servlet-class>controller.InsertRecipeServletx</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>controller.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>controller.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountViewsServlet</servlet-name>
        <servlet-class>controller.CountViewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpCourseServlet</servlet-name>
        <servlet-class>controller.SignUpCourseServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ManageRecipeTemp</servlet-name>
        <servlet-class>controller.ManageRecipeTemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCheck</servlet-name>
        <servlet-class>controller.UpdateCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRecipeTemp</servlet-name>
        <servlet-class>controller.InsertRecipeTemp</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UpdateRecipe</servlet-name>
        <servlet-class>controller.UpdateRecipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCourse</servlet-name>
        <servlet-class>controller.ManageCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRecipeByUserServlet</servlet-name>
        <servlet-class>controller.InsertRecipeByUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPostServlet</servlet-name>
        <servlet-class>controller.InsertPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRecipeAndCourseServlet</servlet-name>
        <servlet-class>controller.SearchRecipeAndCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminServlet</servlet-name>
        <url-pattern>/LogoutAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRecipeServlet</servlet-name>
        <url-pattern>/ManageRecipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRecipeServletx</servlet-name>
        <url-pattern>/InsertRecipeServletx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountViewsServlet</servlet-name>
        <url-pattern>/CountViewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpCourseServlet</servlet-name>
        <url-pattern>/SignUpCourseServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ManageRecipeTemp</servlet-name>
        <url-pattern>/ManageRecipeTemp</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>UpdateCheck</servlet-name>
        <url-pattern>/UpdateCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRecipeTemp</servlet-name>
        <url-pattern>/InsertRecipeTemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRecipe</servlet-name>
        <url-pattern>/UpdateRecipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourse</servlet-name>
        <url-pattern>/ManageCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRecipeByUserServlet</servlet-name>
        <url-pattern>/InsertRecipeByUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPostServlet</servlet-name>
        <url-pattern>/InsertPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRecipeAndCourseServlet</servlet-name>
        <url-pattern>/SearchRecipeAndCourseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
