* {
  box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  border-radius: 20px;
  padding-top: 10px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */

.detail-dish {
  width: 80%;
  margin: auto;
}
.piture-dish {
  height: 500px;
  width: 100%;
  border-radius: 20px;
}
.name-dish {
  text-align: center;
  padding-top: 10px;
}
.img-dish {
  width: 100%;
  border-radius: 20px;
  height: 500px;
}
.img-dish-add {
  width: 100%;
  border-radius: 20px;
  height: 200px;
}
.link-dish {
  text-decoration: none;
}
.list-to-do li {
  list-style-image: url("../images/chef.png");
  margin-left: 50px;
}
.ingredients-food li {
  list-style-image: url("../images/farm.png");
  margin-left: 45px;
}
.session-dish-detail {
  padding-left: 0;
  padding-top: 130px;
  padding-bottom: 50px;
  margin: 0;
  width: 100%;
  background-color: rgb(34, 31, 31);
}
.breadcrumbrecipe {
  color: white;
}

.button_submit_dk {
  display: block;
  border-bottom: 2px solid #00bcd4;
  margin-top: 6px;
  margin-bottom: 10px;
  outline-style: none;
  padding: 7px;
  width: 40%;
  border-radius: 10px;
  border: none;
  bottom: 10px;
  cursor: pointer;
  background: #e75b1e;
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.button_submit_dk:hover {
  background: #b44e23;
}
.numbercourse {
  width: 50px;
}
.text-heading-class {
  text-align: center;
}
.infor-class {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: white;
  border: 0px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  
}
